<!--
<div data-monument-form data-monument="MonumentIndexViewModel.newMonument"></div>
remove commented out code
-->

<h2>These are all the Monuments</h2>

<div data-ng-repeat="monuments in MonumentIndexViewModel.Monument | orderBy:'-created_at'">
<!-- it's a little confusing to have the singular thing (monument) plural in the loop -->
<h3>{{monuments.site}}</h3>
<a href="/">Pokemon Encounters</a><br />
<!-- Could link to encounters for this location -->
{{monuments.description}}
<h5>zipcode: {{monuments.zip}}</h5>
<!--
<img ng-src={{monuments.photo_url}} alt="Monument Photo" />
-->
  <p><a data-ui-sref="monumentShow({id: character.id})">{{monuments.title}}</a></p>

</div>

<h2>These are all the pokeMonuments</h2>

<div data-ng-repeat="character in CharacterIndexViewModel.Character | orderBy:'-created_at'">
    <p><a data-ui-sref={{character.name}}></a></a></p>
{{'Hello!'}}
</div>
